<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ConnectionString" value="Data Source=COMMERCIENT-02\SQLEXPRESS;Initial Catalog=college;Persist Security Info=True;User ID=sa1;Password=1234;"/>
		<add key="TableNames" value="Students_clone" />
		<add key="CustomObjects" value="Stud__c" />
		<add key="username" value="ai20.vismay.jain@gmail.com" />
		<add key="password" value="&#35;Incorrect7890" />
		<add key="token" value="I5rkFH7z4oqiopm6zCMEb1nxk"/>
		<add key="clientId" value="3MVG9pRzvMkjMb6lf65AEp74uEXuCs7CSPe5fyPTlNgVilAEka_vKKgQmd__h7IRlaDYBKq.4v.Nz9FeEMjsR" />
		<add key="clientSecret" value="AE881A7C2050BCE9BE60AE9EA37D61732BA943A9E168C3B9D080D0A6539C989A" />
	</appSettings>
</configuration>
